.restaurant-card-item {
  list-style-type: none;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 20px;
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  .restaurant-card-item {
    width: 40%;
  }
}

.restaurant-card-link {
  border: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.restaurant-card-image {
  width: 160px;
  height: 130px;
  border-radius: 8px;
  margin-right: 20px;
}

@media only screen and (min-width: 768px) {
  .restaurant-card-image {
    width: 160px;
    height: 130px;
    border-radius: 8px;
    margin-right: 20px;
  }
}

.restaurant-card-details-container {
  background-color: transparent;
  align-self: center;
}

.restaurant-card-name {
  font-size: 16px;
  font-family: DM Sans;
  color: #334155;
  font-weight: 700;
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .restaurant-card-name {
    font-size: 16px;
    color: #334155;
  }
}

.restaurant-card-menu-type {
  font-size: 14px;
  font-family: DM Sans;
  color: #64748b;
  font-weight: 400;
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .restaurant-card-menu-type {
    font-size: 16px;
  }
}

.restaurant-card-ratings-review-container {
  display: flex;
  align-items: center;
}

.restaurant-card-rating-icon {
  color: #ffcc00;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  margin-top: 10px;
}
