.home-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
}

.home-contents-container {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popular-restaurents {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #183b56;
}

@media only screen and (min-width: 768px) {
  .home-contents-containerv {
    padding: 40px;
  }

  .popular-restaurents {
    font-size: 32px;
  }
}

.home-description-sort-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .home-description-sort-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.home-description {
  width: 100%;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #64748b;
}

@media only screen and (min-width: 768px) {
  .home-description {
    font-size: 16px;
    width: 70%;
  }
}

.sort-by-container {
  display: flex;
  align-items: center;
  border: none;
}

.sort-by-icon {
  font-size: 24px;
  color: #475569;
  margin-right: 6px;
}

@media only screen and (min-width: 768px) {
  .sort-by-icon {
    font-size: 24px;
  }
}

.sort-by {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #475569;
}

@media only screen and (min-width: 768px) {
  .sort-by {
    font-size: 20px;
  }
}

.sort-by-select {
  color: #475569;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 12px;
  outline: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .sort-by-select {
    font-size: 20px;
  }
}

.select-option {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .select-option {
    font-size: 18px;
  }
}

.home-contents-container {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popular-restaurants {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #183b56;
}

@media only screen and (min-width: 768px) {
  .home-contents-containerv {
    padding: 40px;
  }

  .popular-restaurants {
    font-size: 32px;
  }
}

.home-description-sort-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .home-description-sort-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.home-description {
  width: 100%;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #64748b;
}

@media only screen and (min-width: 768px) {
  .home-description {
    font-size: 16px;
    width: 70%;
  }
}

.sort-by-container {
  display: flex;
  align-items: center;
  border: none;
}

.sort-by-icon {
  font-size: 24px;
  color: #475569;
  margin-right: 6px;
}

@media only screen and (min-width: 768px) {
  .sort-by-icon {
    font-size: 24px;
  }
}

.sort-by {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #475569;
}

@media only screen and (min-width: 768px) {
  .sort-by {
    font-size: 20px;
  }
}

.sort-by-select {
  color: #475569;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 12px;
  outline: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .sort-by-select {
    font-size: 20px;
  }
}

.select-option {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .select-option {
    font-size: 18px;
  }
}
