.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 20px;
}

.tasty-kitchens-image-mobile {
  width: 70%;
  height: 50%;
  order: 1;
  align-self: flex-end;
}

.tasty-kitchens-image-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .tasty-kitchens-image-mobile {
    display: none;
  }

  .login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .tasty-kitchens-image-desktop {
    width: 500px;
    height: 700px;
    order: 2;
    border-radius: 0px;
    display: inline;
  }
}

.login-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  order: 2;
  align-self: center;
  top: 280px;
  position: absolute;
}

.login {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 24px;
  color: #0f172a;
}

.login-landing-image {
  display: none;
}

.tasty-kitchens-heading {
  display: none;
}

@media only screen and (min-width: 768px) {
  .login-details-container {
    border-radius: 8px;
    box-shadow: 0px 2px 5px 10px solid #475569;
    order: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: static;
  }

  .login {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 32px;
    align-self: center;
    color: #0f172a;
  }

  .login-landing-image {
    width: 53px;
    height: 43px;
    align-self: center;
    display: inline;
  }

  .tasty-kitchens-heading {
    font-family: DM Sans;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    align-self: center;
    color: #bf620b;
    display: block;
    margin-bottom: 0px;
  }
}

.login-button {
  width: 312px;
  height: 40px;
  background-color: #bf620b;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  border-radius: 10px;
  padding: 10px;
}

.username-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .login-button {
    width: 100%;
    background-color: #bf620b;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto';
    border-radius: 10px;
    padding: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .username-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
}

.input-label {
  width: 66px;
  height: 16px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #475569;
  margin-bottom: 5px;
}

.username-field {
  width: 312px;
  height: 40px;
  border-radius: 2px;
  background-color: #e2e8f0;
  font-size: 14px;
  color: #171f46;
  font-weight: 500;
  border: none;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .input-label {
    width: 66px;
    height: 16px;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #475569;
  }

  .username-field {
    width: 360px;
    height: 40px;
    border-radius: 2px;
    background-color: #e2e8f0;
    font-size: 14px;
    color: #171f46;
    font-weight: 500;
    border: none;
  }
}

.password-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .password-container {
    width: 360px;
    height: 64px;
  }
}

.error-message {
  width: 234px;
  height: 16px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 12px;
  color: #ef4444;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .error-message {
    width: 273px;
    height: 18px;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 14px;
    color: #ef4444;
  }
}
